@use 'colors' as *;

@mixin burgerBtn {
	content: '';
	position: absolute;
	right: 0;
	height: 3px;
	transition: width 0.3s;
	background-color: $pure-white;
}

@mixin heroImages($bgImg) {
	background-image: $blue-gradient, url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@mixin center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin contactForm {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: none;
	border-radius: 10px;
	font-size: 1.6rem;
	box-shadow: 2px 2px 10px rgba(46,46,46,0.4);
}